/* TODO: MAKE CSS FILE FOR GAMESCREEN*/

td {
  width: 40px;
  height: 40px;
  border: solid grey; 
}

td.empty {
  background-color: white;
  cursor: pointer;
}

td.ship {
  background-color: rgb(161, 159, 159);
}

td.miss {
  background-color: blue;
}

td.hit {
  background-color: red;
}

td.sunk {
  background-color: black;
}

div#gameboardOpp td.empty, {
  cursor: url(./Crosshair.cur), pointer;
}
