
:root {
  --darkblue: #020336;
  --sea: #176B76;
}

/* Sidebar (left) **************************************************/

#left {
  height: 100%;
  width: 250px;
  position: fixed; 
  left: 0;
  top: 0;
  background-color: var(--darkblue);
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  border: 1px solid var(--darkblue);
}

#timeDisplay {
  margin-top: 15px;
}

#timeDisplay div {
  font-size: 50px;
  margin-top: 10px;
}

#turnDisplay {
  display: none;
  position: relative;
  top: 20%;
  background-color: white;
  border-right: 1px solid white;
  color: var(--darkblue);
  font-size: 150%;
}

#left button, #rotate, #fullscreen {
  background-color: var(--sea);
  color: white;
  display: inline-block;
  border-radius: 4px;
  transition-duration: background-color 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}

#rotate {
  display: none;
  position: relative;
  margin-top: 55%;
  margin-left: 50px;
  width: 150px;
  padding: 5px 5px 5px 5px;
}

#left button {
  position: absolute;
  bottom: 7%;
  left: 12%;
  font-size: 40px;
  border: none;
}

#fullscreen {
  position: absolute;
  bottom: 7%;
  right: 10%;
  width: 48px;
  height: 48px;
}

#fullscreen img {
  width: 30px;
  height: 30px;
  padding-top: 8px;
  float: center;
}

#fullscreen #min {
  display: none;
}

#left button:hover, #fullscreen:hover, #rotate:hover {
  background-color: white;
  color: var(--sea);
  cursor: pointer;
}

#fullscreen:hover img, #rotate:hover img {
  filter: invert(32%) sepia(36%) saturate(916%) hue-rotate(139deg) brightness(60%) contrast(90%);
}

#left>img {
  width: 85%;
  position: absolute;
  bottom: 16%;
  left: 9%;
}

/* Game objects (right) **************************************************/

#right {
  min-width: 1116px;
  text-align: center;
  margin-left: 250px;
  margin-top: 70px;
  color: var(--darkblue);
  font-size: 20px;
  animation: moveUp 1.5s;   
}

@keyframes moveUp {       
  from {
    transform: translate(0px, 1000px)
  }
  to {
    transform: translate(0)
  }
}

#instruction {
  margin-bottom: 50px;
  font-size: 25px;
}

h1 {
  font-size: 30px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

h1::after, h1::before {
  content: " ~~~ ";        
}

table {
  margin: 10px 10px 10px 10px;
}

td {
  width: 40px;
  height: 40px;
  border: 2px solid grey;
}

td.empty {
  background-color: white;
}

td.ship {
  background-color: rgb(161, 159, 159);
}

td.miss {
  background-color: blue;
}

td.hit {
  background-color: red;
}

td.sunk {
  background-color: black;
}

/* 'You'-part **************************************************/

#you {
  float: left;
  margin-left: 10%;
}

/* Hover event in js gives cells the active class*/
#gameboardYou.active td.selected {
  background-color: grey;
  filter: opacity(30%);
  cursor: pointer;
}

#shipsLeftYou {
  margin-top: 20px;
}

/* 'Opponent'-part **************************************************/

#opponent {
  margin-right: 10%;
  float: right;
}

#gameboardOpp.active td.empty {
  cursor: url(../images/crosshair.cur), pointer;
}

#gameboardOpp.active td.empty:hover {
  background-color: grey;
  filter: opacity(30%);
}

#gameboardOpp.active td.empty:active {
  background-color: grey;
  filter: none;
}

#shipsLeftOpp {
  margin-top: 20px;
}

#warning {
  display: none;
}

@media screen and (max-width: 1260px), screen and (max-height: 675px) {
  #warning {
    display: block;
    background-color: red;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
    text-align: center;
    color: white;
  }
}

/* Fullscreen */

/* Chrome */
:-webkit-full-screen #left {
  background-color: white;
  color: var(--darkblue);
}
:-webkit-full-screen {
  background-color: var(--darkblue);
}
:-webkit-full-screen #gameboardYou.active td.selected, :-webkit-full-screen #gameboardOpp.active td.empty:hover{
  background-color: rgb(199, 198, 198);
  filter: opacity(99%);
}
:-webkit-full-screen #right {
  color: white;
}
:-webkit-full-screen #left button:hover, :-webkit-full-screen #fullscreen:hover, :-webkit-full-screen #rotate:hover {
  border: 2px solid var(--sea);
}
:-webkit-full-screen #turnDisplay {
  background-color: var(--darkblue);
  border-right: 1px solid white;
  color: white;
}

/* Firefox */
:-moz-full-screen #left {
  background-color: white;
  color: var(--darkblue);
}
:-moz-full-screen {
  background-color: var(--darkblue);
}
:-moz-full-screen #gameboardYou.active td.selected, :-moz-full-screen #gameboardOpp.active td.empty:hover{
  background-color: rgb(199, 198, 198);
  filter: opacity(99%);
}
:-moz-full-screen #right {
  color: white;
}
:-moz-full-screen #left button:hover, :-moz-full-screen #fullscreen:hover, :-moz-full-screen #rotate:hover {
  border: 2px solid var(--sea);
}
:-moz-full-screen #turnDisplay {
  background-color: var(--darkblue);
  border-right: 1px solid white;
  color: white;
}

/* IE/Edge */
:-ms-full-screen #left {
  background-color: white;
  color: var(--darkblue);
}
:-ms-full-screen {
  background-color: var(--darkblue);
}
:-ms-full-screen #gameboardYou.active td.selected, :-ms-full-screen #gameboardOpp.active td.empty:hover{
  background-color: rgb(199, 198, 198);
  filter: opacity(99%);
}
:-ms-full-screen #right {
  color: white;
}
:-ms-full-screen #left button:hover, :-ms-full-screen #fullscreen:hover, :-ms-full-screen #rotate:hover {
  border: 2px solid var(--sea);
}
:-ms-full-screen #turnDisplay {
  background-color: var(--darkblue);
  border-right: 1px solid white;
  color: white;
}

/* Standard */
:fullscreen #left {
  background-color: white;
  color: var(--darkblue);
}
:fullscreen {
  background-color: var(--darkblue);
}
:fullscreen #gameboardYou.active td.selected, :fullscreen #gameboardOpp.active td.empty:hover{
  background-color: rgb(199, 198, 198);
  filter: opacity(99%);
}
:-moz-full-screen #right {
  color: white;
}
:fullscreen #left button:hover, :fullscreen #fullscreen:hover, :fullscreen #rotate:hover {
  border: 2px solid var(--sea);
}
:fullscreen #turnDisplay {
  background-color: var(--darkblue);
  border-right: 1px solid white;
  color: white;
}