
:root {
  --darkblue: #020336;
  --sea: #176B76;
}

/* Sidebar (left) **************************************************/

#left {
  height: 100%;
  width: 250px;
  position: fixed; 
  left: 0;
  top: 0;
  background-color: var(--darkblue);
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  border: 1px solid var(--darkblue);
}

#timeDisplay {
  margin-top: 15px;
}

#timeDisplay div {
  font-size: 50px;
  margin-top: 10px;
}

#turnDisplay {
  display: none;
  position: relative;
  top: 20%;
  background-color: white;
  border: 2px solid white;
  color: var(--darkblue);
  font-size: 150%;
}

#left button {
  position: absolute;
  width: 50%;
  bottom: 7%;
  left: 25%;
  display: inline-block;
  border-radius: 4px;
  font-size: 40px;
  background-color: var(--sea);
  color: white;
  border: none;
  transition-duration: 0.4s;
}

#left button:hover {
  background-color: white;
  color: var(--sea);
  cursor: pointer;
}

#left img {
  width: 85%;
  position: absolute;
  bottom: 16%;
  left: 9%;
}

/* Game objects (right) **************************************************/

#right {
  min-width: 1116px;
  text-align: center;
  margin-left: 250px;
  margin-top: 70px;
  color: var(--darkblue);
  font-size: 20px;
  animation: moveUp 1.5s;   /* We moesten een animatie maken, dus ik heb dit maar gedaan */
}

@keyframes moveUp {       
  from {
    transform: translate(0px, 1000px)
  }
  to {
    transform: translate(0)
  }
}

#instruction {
  margin-bottom: 50px;
  font-size: 25px;
}

h1 {
  font-size: 30px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

h1::after, h1::before {
  content: " ~~~ ";         /* We moesten deze 'pseudo-elements' gebruiken, dus ik heb dit maar gedaan. Prima of weet jij iets beters? */
}

table {
  margin: 10px 10px 10px 10px;
}

td {
  width: 40px;
  height: 40px;
  border: 2px solid grey;
}

td.empty {
  background-color: white;
}

td.ship {
  background-color: rgb(161, 159, 159);
}

td.miss {
  background-color: blue;
}

td.hit {
  background-color: red;
}

td.sunk {
  background-color: black;
}

/* 'You'-part **************************************************/

#you {
  float: left;
  margin-left: 10%;
}

/* Hover event in js gives cells the active class*/
#gameboardYou.active td.selected {
  background-color: grey;
  filter: opacity(30%);
  cursor: pointer;
}

#shipsLeftYou {
  margin-top: 20px;
}

/* 'Opponent'-part **************************************************/

#opponent {
  margin-right: 10%;
  float: right;
}

#gameboardOpp.active td.empty {
  cursor: url(../images/crosshair.cur), pointer;
}

#gameboardOpp.active td.empty:hover {
  background-color: grey;
  filter: opacity(30%);
}

#gameboardOpp.active td.empty:active {
  background-color: grey;
  filter: none;
}

#shipsLeftOpp {
  margin-top: 20px;
}

#warning {
  display: none;
}

@media screen and (max-width: 1366px) {
  #warning {
    display: block;
    background-color: red;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
    text-align: center;
    color: white;
  }
}

/* TODO: fullscreen */
