/* TODO: ::after, ::before */

@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');

:root {
    --darkblue: #020336;
    --sea: #176B76;
}

body {
    background-color: var(--darkblue);
    font-size: 100%;
    position: fixed;
    width: 100%;
    height: 30%;
}

h1 {
    text-align: center;
    color: rgb(122, 120, 120);
    font-size: 450%;
    font-family: 'UnifrakturMaguntia', serif;
    position: relative;
    top: 30px;
}

#ship {
    position: fixed;
    left: 10%;
    bottom: 23%;
    height: 55%;
    z-index: 1;
    opacity: 0.9;
    animation: moveShip 3.5s;
}

@keyframes moveShip {       
    from {
        transform: translate(-900px, 0)
    }
    to {
        transform: translate(0, 0)
    }
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

#play {
    position: fixed;
    right: 7%;
    top: 25%;
    height: 25%;
    z-index: 2;
    transition: height 0.5s;
}

#rules {
    position: fixed;
    right: 7%;
    top: 42%;
    height: 25%;
    z-index: 2;
    transition: height 0.5s;
}

#play:hover, #rules:hover {
    cursor: pointer;
    height: 30%;
}

#play:active, #rules:active {
    opacity: 0.6;
}

footer{
    background-image: url("../images/Sea.png");
    background-size: cover;
    background-color: var(--sea);
    position: fixed;
    bottom: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction:row;
    color: var(--darkblue);
}

footer>div{
    position:relative;
    padding-top: 115px;
    font-size: 150%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    width: 33.3%;
}

footer>div::before , footer>div::after{
    content: "~";
}

#visits {
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px 5px 5px 5px;
    position: fixed;
    top: 0;
    right: 0;
    color: var(--sea);
    font-size: 24px;
    border: 2px solid var(--sea);
    background-color: rgb(158, 156, 156);
}