td {
    width: 40px;
    height: 40px;
    border: solid grey; 
}

td.empty {
    background-color: white;
    cursor: pointer;
}

div#gameboardYou td.ship {
    background-color: rgb(161, 159, 159);
}

div#gameboardOpp td.ship {
    background-color: white;
}

td.miss {
    background-color: blue;
}

td.hit {
    background-color: red;
}

td.sunk {
    background-color: black;
}

div#gameboardOpp td.empty, div#gameboardOpp td.ship {
    cursor: url(images/Crosshairs\ 1.cur), pointer;
}
